/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700,900");
@import url("http://fonts.googleapis.com/css?family=Merriweather:400,300,700");
/* line 5, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Str replace
 *
 * @param {string}  $string    String that you want to replace
 * @param {string}  $substr    String that is to be replaced by `$newsubstr`
 * @param {string}  $newsubstr String that replaces `$substr`
 * @param {number*} $all       Flag for replaceing all (1+) or not (0)
 * @return {string}
 */
/**
 * Map set
 *
 * @param 	Map 	$map 		The map to use
 * @param 	String 	$key 		The key to update
 * @param 	Mixed 	$value 		The new value
 * @return 	Map 			The new map
 */
/**
 * Get the column width in percent for the global or a specific context
 *
 * @param 	int 		$columns 					The number of columns to calculate
 * @param 	int 		$context : $gridle-columns-count 	 	The context to use
 * @return 	percentage 							The width in percent
 */
/**
 *  Get a state map
 *
 * @param 	string 		$name 		The name of the state to get
 * @return 	map 				A state map object
 */
/**
 * Check if a state exist :
 *
 * @param 	string 		$name 		The name of the state to check
 * @return 	Boolean 			true is exist
 */
/**
 * Get the media queries variables :
 *
 * @param 	int 		$index 	 	The media query indes
 * @param 	String 		$var 		The media query variable name
 * @return 	String|int 			The variable value
 */
/**
 * Get a variable
 *
 * @param 	String 		$varName 				The variable name
 * @param  	String 		$stateMap-or-stateName 	 	The state name or a map state value
 * @return 	Mixed 							The finded value
 */
/**
 * Set a variable in a state
 * @param 	Mixed $stateName-or-stateIndex 	The state name of state index
 * @param  	String $var                    		Variable name to assign
 * @param  	Mixed $newValue          		The new value to assign
 * @return 	List                         			The states list (full)
 */
/**
 * Generate a column
 *
 * @param 	String 		$name 			The column name (often count)
 * @param 	int 		$columns 		The column count that the column will take
 * @param 	int 		$context 		The context on witch the with will be calculed
 * @param 	Boolean 	$generateClasses 	Set if the column has to be generated in css
 */
/**
 * Generate classname
 *
 * @param 	List 		$parrern 	The pattern to use to generate classname
 * @param 	String 		$state 		The state
 * @param 	int 		$count 		The column count
 */
/**
 * Get the media query for a particular state, or with, etc...
 *
 * @param 	Mixed 		$state-or-min-width 		The state name of the min with
 * @param 	Mixed 		$max-width 			The max width if first param is a min width
 * @return 	String 						The media query string without the @media
 */
/**
 * Get states count
 * 
 * @return 	int 	The number of states defined
 */
/**
 * Setup
 */
/**
 *  Register a clear each class
 */
/**
 * Register a special class
 */
/**
 * Register default states
 */
/**
 * Register default mobile first states :
 */
/**
 * Set the debug device (not used for now)
 * 
 * @param 	String 		$state 		The state to update
 * @para m 	String 		$device 	The device to use (iphone, etc...)
 */
/**
 * Parent clear each
 */
/**
 * Vertical align :
 */
/**
 * Show inline
 *
 * @param 	String 		$state 		The state name
 */
/**
 * Generate a custom class for all the states
 *
 * @param 	list 	$pattern 		The name pattern of the class
 * @param 	list 	$statesNames 		The states names to generate
 */
/* line 8, ../scss/utilities/_helpers.scss */
.grid:after, .gallery--large:after, .gallery--medium:after, .gallery--small:after, .navbar:after, .nav:after, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 17, ../scss/utilities/_helpers.scss */
.srt, .form__label.-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 30, ../scss/utilities/_helpers.scss */
.text-center, .btn,
[class^="btn--"] {
  text-align: center;
}

/* line 37, ../scss/utilities/_helpers.scss */
.icn.-nav-toggle:before, .divider-arrow-top:after {
  display: block;
  content: '';
  position: absolute;
}

/* line 45, ../scss/utilities/_helpers.scss */
.centered, .grid, .gallery--large, .gallery--medium, .gallery--small {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

/* line 53, ../scss/utilities/_helpers.scss */
.centered-v {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 62, ../scss/utilities/_helpers.scss */
.h-100 {
  height: 100%;
}

/* line 67, ../scss/utilities/_helpers.scss */
.centered-v-abs {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

/* line 74, ../scss/utilities/_helpers.scss */
.centered-h-abs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

/* line 81, ../scss/utilities/_helpers.scss */
.pos-rel, .hdln.-divider, .hdln.-feature-divider {
  position: relative !important;
}

/* line 85, ../scss/utilities/_helpers.scss */
.align-top-abs {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

/* line 91, ../scss/utilities/_helpers.scss */
.inline-block {
  display: inline-block !important;
}

/* line 95, ../scss/utilities/_helpers.scss */
.block {
  display: block !important;
}

/* line 99, ../scss/utilities/_helpers.scss */
.pull-left, .nav__item {
  float: left;
}

@media (min-width: 1px) and (max-width: 768px) {
  /* line 52, ../scss/utilities/_mixins.scss */
  .pull-left--sm {
    float: left;
  }
}
@media (min-width: 769px) {
  /* line 52, ../scss/utilities/_mixins.scss */
  .pull-left--md {
    float: left;
  }
}
@media (min-width: 1100px) {
  /* line 52, ../scss/utilities/_mixins.scss */
  .pull-left--lg {
    float: left;
  }
}

/* line 108, ../scss/utilities/_helpers.scss */
.pull-right {
  float: right;
}

@media (min-width: 1px) and (max-width: 768px) {
  /* line 52, ../scss/utilities/_mixins.scss */
  .pull-right--sm {
    float: right;
  }
}
@media (min-width: 769px) {
  /* line 52, ../scss/utilities/_mixins.scss */
  .pull-right--md {
    float: right;
  }
}
@media (min-width: 1100px) {
  /* line 52, ../scss/utilities/_mixins.scss */
  .pull-right--lg {
    float: right;
  }
}

/* line 118, ../scss/utilities/_helpers.scss */
.margin-b-collapse {
  margin-bottom: 0 !important;
}

/* line 123, ../scss/utilities/_helpers.scss */
.debug-vr {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -moz-background-size: 100% 0.75em;
  -o-background-size: 100% 0.75em;
  -webkit-background-size: 100% 0.75em;
  background-size: 100% 0.75em;
  background-position: left top;
}

/* line 325, ../scss/utilities/_mixins.scss */
.fz-4-sm {
  font-size: 0.625em;
  line-height: 2.4em;
}

/* line 325, ../scss/utilities/_mixins.scss */
.fz-3-sm {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 325, ../scss/utilities/_mixins.scss */
.fz-2-sm {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 325, ../scss/utilities/_mixins.scss */
.fz-1-sm {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 325, ../scss/utilities/_mixins.scss */
.fz-md {
  font-size: 1.625em;
  line-height: 1.38462em;
}

/* line 325, ../scss/utilities/_mixins.scss */
.fz-1-lg {
  font-size: 2em;
  line-height: 1.125em;
}

/* line 325, ../scss/utilities/_mixins.scss */
.fz-2-lg {
  font-size: 2.625em;
  line-height: 1.14286em;
}

/* line 325, ../scss/utilities/_mixins.scss */
.fz-3-lg {
  font-size: 3.25em;
  line-height: 1.15385em;
}

/* line 325, ../scss/utilities/_mixins.scss */
.fz-4-lg {
  font-size: 4.25em;
  line-height: 1.05882em;
}

/* line 325, ../scss/utilities/_mixins.scss */
.fz-body {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 106, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 9, ../scss/base/_base.scss */
body {
  color: #797e83;
  font-family: "Source Sans Pro", sans-serif;
}

/* line 25, ../scss/base/_base.scss */
h3 {
  font-size: 1.125em;
}

/* line 29, ../scss/base/_base.scss */
h4 {
  margin-top: 1.57143em;
  margin-bottom: 2.28571em;
  color: #d6d7d9;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.875em;
}

/* line 39, ../scss/base/_base.scss */
a {
  color: #D18E00;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
}

/* line 48, ../scss/base/_base.scss */
p {
  font-weight: 400;
  color: #81868a;
}

/* line 57, ../scss/base/_base.scss */
blockquote {
  font-weight: 300;
  font-size: 1.25em;
  color: #656a6e;
}
@media (min-width: 769px) {
  /* line 57, ../scss/base/_base.scss */
  blockquote {
    margin: 0.25em 0;
    padding: 6px 0 6px 5%;
    border-left: 0.25em solid #d6d7d9;
    font-size: 1.4375em;
  }
}
/* line 68, ../scss/base/_base.scss */
blockquote footer {
  display: block;
  margin: 10px 0 10px;
  font-size: 18px;
  color: #525559;
}

/* line 78, ../scss/base/_base.scss */
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 87, ../scss/base/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 95, ../scss/base/_base.scss */
input,
textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0;
}

/* line 104, ../scss/base/_base.scss */
input:focus,
textarea:focus {
  transition: 0.3s;
}

/* line 111, ../scss/base/_base.scss */
button {
  outline: 0;
}

/* line 13, ../scss/utilities/_mixins.scss */
.panel.-default {
  padding-top: 3em;
  padding-bottom: rhytm(2);
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-tb-3-sm {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-t-3-sm {
  padding-top: 0.75em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-b-3-sm {
  padding-bottom: 0.75em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-tb-2-sm {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-t-2-sm {
  padding-top: 1.5em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-b-2-sm {
  padding-bottom: 1.5em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-tb-1-sm {
  padding-top: 2.25em;
  padding-bottom: 2.25em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-t-1-sm {
  padding-top: 2.25em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-b-1-sm {
  padding-bottom: 2.25em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-tb-md {
  padding-top: 3em;
  padding-bottom: 3em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-t-md {
  padding-top: 3em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-b-md {
  padding-bottom: 3em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-tb-1-lg {
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-t-1-lg {
  padding-top: 4.5em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-b-1-lg {
  padding-bottom: 4.5em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-tb-2-lg {
  padding-top: 6em;
  padding-bottom: 6em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-t-2-lg {
  padding-top: 6em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-b-2-lg {
  padding-bottom: 6em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-tb-3-lg {
  padding-top: 7.5em;
  padding-bottom: 7.5em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-t-3-lg {
  padding-top: 7.5em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-b-3-lg {
  padding-bottom: 7.5em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-tb-4-lg {
  padding-top: 9em;
  padding-bottom: 9em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-t-4-lg {
  padding-top: 9em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-b-4-lg {
  padding-bottom: 9em;
}
/* line 8, ../scss/utilities/_mixins.scss */
.panel__first {
  margin-top: 0 !important;
}
/* line 8, ../scss/utilities/_mixins.scss */
.panel__last {
  margin-bottom: 0 !important;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-half {
  padding: 20px 0;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-cover {
  padding: 60px 0 40px;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-intro {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -moz-background-size: 100% 0.75em;
  -o-background-size: 100% 0.75em;
  -webkit-background-size: 100% 0.75em;
  background-size: 100% 0.75em;
  background-position: left top;
  padding: 7.5em 0;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-mywork {
  background-color: #EDEAE6;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-mywork.-mywork-header {
  padding: 40px 0 20px;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-mywork.-mywork-footer {
  margin-top: 40px;
  padding: 13px 0;
  background-color: #E0DEDA;
}
/* line 13, ../scss/utilities/_mixins.scss */
.panel.-collapse-bottom {
  padding-bottom: 0;
}

/* line 10, ../scss/layout/_grid-container.scss */
[class*="grid__col--"] > .grid, [class*="grid__col--"] > .gallery--large, [class*="grid__col--"] > .gallery--medium, [class*="grid__col--"] > .gallery--small {
  width: 100%;
}
@media (min-width: 1px) and (max-width: 768px) {
  /* line 5, ../scss/layout/_grid-container.scss */
  .grid, .gallery--large, .gallery--medium, .gallery--small {
    width: 691.2px;
  }
}
@media (min-width: 769px) {
  /* line 5, ../scss/layout/_grid-container.scss */
  .grid, .gallery--large, .gallery--medium, .gallery--small {
    width: 990px;
  }
}
@media (min-width: 1100px) {
  /* line 5, ../scss/layout/_grid-container.scss */
  .grid, .gallery--large, .gallery--medium, .gallery--small {
    max-width: 1050px;
  }
}

@media (min-width: 769px) {
  /* line 137, ../scss/utilities/_mixins.scss */
  .grid__col--1 {
    width: 8.33333%;
  }
  /* line 137, ../scss/utilities/_mixins.scss */
  .grid__col--2 {
    width: 16.66667%;
  }
  /* line 137, ../scss/utilities/_mixins.scss */
  .grid__col--3 {
    width: 25%;
  }
  /* line 137, ../scss/utilities/_mixins.scss */
  .grid__col--4 {
    width: 33.33333%;
  }
  /* line 137, ../scss/utilities/_mixins.scss */
  .grid__col--5 {
    width: 41.66667%;
  }
  /* line 137, ../scss/utilities/_mixins.scss */
  .grid__col--6 {
    width: 50%;
  }
  /* line 137, ../scss/utilities/_mixins.scss */
  .grid__col--7 {
    width: 58.33333%;
  }
  /* line 137, ../scss/utilities/_mixins.scss */
  .grid__col--8 {
    width: 66.66667%;
  }
  /* line 137, ../scss/utilities/_mixins.scss */
  .grid__col--9 {
    width: 75%;
  }
  /* line 137, ../scss/utilities/_mixins.scss */
  .grid__col--10 {
    width: 83.33333%;
  }
  /* line 137, ../scss/utilities/_mixins.scss */
  .grid__col--11 {
    width: 91.66667%;
  }
  /* line 137, ../scss/utilities/_mixins.scss */
  .grid__col--12 {
    width: 100%;
  }
}

@media (min-width: 1px) and (max-width: 768px) {
  /* line 15, ../scss/layout/_grid-columns.scss */
  [class^="grid__col--"] {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
}
@media (min-width: 769px) {
  /* line 15, ../scss/layout/_grid-columns.scss */
  [class^="grid__col--"] {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 769px) {
  /* line 39, ../scss/layout/_grid-columns.scss */
  .grid.-half-gutter [class^="grid__col--"], .-half-gutter.gallery--large [class^="grid__col--"], .-half-gutter.gallery--medium [class^="grid__col--"], .-half-gutter.gallery--small [class^="grid__col--"] {
    float: left;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 769px) {
  /* line 50, ../scss/layout/_grid-columns.scss */
  .grid.-double-gutter [class^="grid__col--"], .-double-gutter.gallery--large [class^="grid__col--"], .-double-gutter.gallery--medium [class^="grid__col--"], .-double-gutter.gallery--small [class^="grid__col--"] {
    float: left;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 56, ../scss/layout/_grid-columns.scss */
  .grid.-double-gutter [class^="grid__col--"]:first-child, .-double-gutter.gallery--large [class^="grid__col--"]:first-child, .-double-gutter.gallery--medium [class^="grid__col--"]:first-child, .-double-gutter.gallery--small [class^="grid__col--"]:first-child {
    padding-left: 10px;
  }
  /* line 59, ../scss/layout/_grid-columns.scss */
  .grid.-double-gutter [class^="grid__col--"]:last-child, .-double-gutter.gallery--large [class^="grid__col--"]:last-child, .-double-gutter.gallery--medium [class^="grid__col--"]:last-child, .-double-gutter.gallery--small [class^="grid__col--"]:last-child {
    padding-right: 10px;
  }
}

/* line 23, ../scss/modules/_extends.scss */
.nav__item a:hover, .nav__item.-active a {
  color: #fff;
}

/* line 52, ../scss/modules/_extends.scss */
.form__btn, [class^="btn--"] {
  padding: 15px 30px;
  border: 0;
  border-radius: 0.4em;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 400;
  transition: opacity 0.3s;
  display: block;
}
/* line 62, ../scss/modules/_extends.scss */
.form__btn:hover, [class^="btn--"]:hover {
  opacity: .75;
}
/* line 65, ../scss/modules/_extends.scss */
.form__btn:active, [class^="btn--"]:active {
  opacity: initial;
}

/* line 72, ../scss/modules/_extends.scss */
.icn.-nav-toggle {
  line-height: 0;
  cursor: pointer;
}

/* line 13, ../scss/utilities/_mixins.scss */
.img.-wrap {
  border: 1px solid #d6d7d9;
  padding: 0.75em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.img.-avatar {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}
@media (min-width: 769px) {
  /* line 13, ../scss/utilities/_mixins.scss */
  .img.-hero {
    margin-bottom: 2.625em;
  }
}

/* line 25, ../scss/modules/_img.scss */
.gallery--large {
  height: 470px;
}
@media (min-width: 769px) {
  /* line 147, ../scss/utilities/_mixins.scss */
  .gallery--large > [class^="grid__col--"] {
    padding: 0 14px 14px 0;
    margin: 0;
  }
}
/* line 8, ../scss/utilities/_mixins.scss */
.gallery--large__image {
  display: block;
}
/* line 13, ../scss/utilities/_mixins.scss */
.gallery--large__image.-full-h {
  height: 100%;
}
/* line 13, ../scss/utilities/_mixins.scss */
.gallery--large__image.-half-h {
  height: 50%;
}
/* line 162, ../scss/utilities/_mixins.scss */
.gallery--large__image > .image-container {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 166, ../scss/utilities/_mixins.scss */
.gallery--large__image > .image-container img {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 28, ../scss/modules/_img.scss */
.gallery--medium {
  height: 340px;
}
@media (min-width: 769px) {
  /* line 147, ../scss/utilities/_mixins.scss */
  .gallery--medium > [class^="grid__col--"] {
    padding: 0 14px 14px 0;
    margin: 0;
  }
}
/* line 8, ../scss/utilities/_mixins.scss */
.gallery--medium__image {
  display: block;
}
/* line 13, ../scss/utilities/_mixins.scss */
.gallery--medium__image.-full-h {
  height: 100%;
}
/* line 13, ../scss/utilities/_mixins.scss */
.gallery--medium__image.-half-h {
  height: 50%;
}
/* line 162, ../scss/utilities/_mixins.scss */
.gallery--medium__image > .image-container {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 166, ../scss/utilities/_mixins.scss */
.gallery--medium__image > .image-container img {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 31, ../scss/modules/_img.scss */
.gallery--small {
  height: 230px;
}
@media (min-width: 769px) {
  /* line 147, ../scss/utilities/_mixins.scss */
  .gallery--small > [class^="grid__col--"] {
    padding: 0 14px 14px 0;
    margin: 0;
  }
}
/* line 8, ../scss/utilities/_mixins.scss */
.gallery--small__image {
  display: block;
}
/* line 13, ../scss/utilities/_mixins.scss */
.gallery--small__image.-full-h {
  height: 100%;
}
/* line 13, ../scss/utilities/_mixins.scss */
.gallery--small__image.-half-h {
  height: 50%;
}
/* line 162, ../scss/utilities/_mixins.scss */
.gallery--small__image > .image-container {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 166, ../scss/utilities/_mixins.scss */
.gallery--small__image > .image-container img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 36, ../scss/modules/_img.scss */
.cover-overlay {
  border-radius: 0.4em;
  overflow: hidden;
  position: relative;
}
/* line 8, ../scss/utilities/_mixins.scss */
.cover-overlay__layer {
  position: absolute;
  border-radius: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: all 0.4s;
}
/* line 191, ../scss/utilities/_mixins.scss */
.cover-overlay__layer:hover {
  opacity: 1;
}

/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-name {
  font-size: 1.375em;
  font-weight: 700;
  color: #fafafa;
  border-top: #dedede 4px solid;
  border-bottom: #dedede 4px solid;
  padding: 2px 1px;
  display: inline-block;
  margin: 0 0 32px;
  text-transform: uppercase;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-lead {
  font-size: 1.5625em;
  font-weight: 200;
  color: whitesmoke;
  margin: 1px 0;
  text-transform: uppercase;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-main {
  font-size: 4em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.86);
  margin: 1px 0;
  text-transform: uppercase;
  line-height: 1.16667;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-tail {
  font-size: 1.5625em;
  font-style: italic;
  color: whitesmoke;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-intro {
  font-size: 2em;
  line-height: 1.125em;
  font-weight: 300;
  color: #3e3e3e;
  margin-bottom: 1.5em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-divider {
  @background-color : $white;
  border-bottom-width: 0.25em;
  border-bottom-style: solid;
  padding-bottom: 0.5em;
  line-height: 0;
  border-bottom-color: red;
  border-bottom-style: solid;
  background-color: #fff;
  margin-top: 2.25em;
  margin-bottom: 1.5em;
}
/* line 16, ../scss/modules/_headlines.scss */
.hdln.-divider .hdln__text {
  font-size: 0.75em;
  line-height: 2em;
  font-weight: 400;
  color: #252525;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  margin-left: 0;
  top: 100%;
  margin-top: 1.16667em;
  -moz-transform: translateX(-50%) translateY(-100%) rotate(0deg);
  -ms-transform: translateX(-50%) translateY(-100%) rotate(0deg);
  -webkit-transform: translateX(-50%) translateY(-100%) rotate(0deg);
  transform: translateX(-50%) translateY(-100%) rotate(0deg);
  padding: 0 20px;
  background-color: inherit;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-section {
  font-family: "Merriweather", Helvetica, Arial, sans-serif;
  font-size: 32px;
  margin-bottom: 13px;
  font-weight: 400;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-mini {
  font-size: 14px;
  font-weight: bold;
  color: #8e9297;
  text-transform: uppercase;
  margin-bottom: 3px;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-cover-caption {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 2px;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-subsection {
  font-size: 36px;
  margin: 13px 0 0;
  font-weight: 300;
  color: #697883;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-feature {
  border-top: #d6d7d9 1px solid;
  border-bottom: #d6d7d9 1px solid;
  font-family: "Merriweather", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #697883;
  margin: 0 0 30px;
  padding: 8px 0;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-feature-mini {
  font-size: 14px;
  color: #697883;
  font-weight: 700;
  margin: 15px 0;
  text-transform: uppercase;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-feature-mini2 {
  font-size: 20px;
  color: #3c444a;
  font-weight: 400;
  margin: 15px 0 6px;
}
/* line 13, ../scss/utilities/_mixins.scss */
.hdln.-feature-divider {
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.6875em;
  line-height: 0;
  border-bottom-color: #0b0b0b;
  border-bottom-style: solid;
  background-color: #fff;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
/* line 16, ../scss/modules/_headlines.scss */
.hdln.-feature-divider .hdln__text {
  font-size: 1em;
  line-height: 1.5em;
  position: absolute;
  left: 50%;
  margin-left: 0;
  top: 100%;
  margin-top: 0.78125em;
  -moz-transform: translateX(-50%) translateY(-100%) rotate(0deg);
  -ms-transform: translateX(-50%) translateY(-100%) rotate(0deg);
  -webkit-transform: translateX(-50%) translateY(-100%) rotate(0deg);
  transform: translateX(-50%) translateY(-100%) rotate(0deg);
  padding: 0 12px;
  background-color: inherit;
}

/* line 13, ../scss/utilities/_mixins.scss */
.text.-intro {
  color: #656a6e;
  margin-bottom: 1.5em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.text.-cover-caption {
  font-family: "Merriweather", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #F9D76D;
  font-style: italic;
}
/* line 13, ../scss/utilities/_mixins.scss */
.text.-mini {
  font-size: 16px;
}

/* line 8, ../scss/utilities/_mixins.scss */
.form__label {
  display: block;
  margin-bottom: 0.625em;
}
/* line 8, ../scss/utilities/_mixins.scss */
.form__input {
  font-size: 1.125em;
  margin-bottom: 1.11111em;
  border-bottom: 6px solid #d6d7d9;
  border-radius: 0.4em;
  background: #ebecec;
  color: black;
  font-weight: 300;
}
/* line 23, ../scss/modules/_forms.scss */
.form__input:focus {
  border-color: #F9D76D;
}
/* line 8, ../scss/utilities/_mixins.scss */
.form__btn {
  background: #F9D76D;
}

/* line 83, ../scss/utilities/_mixins.scss */
.btn--default {
  background-color: #52bab3;
}
/* line 83, ../scss/utilities/_mixins.scss */
.btn--success {
  background-color: #5ece7f;
}
/* line 83, ../scss/utilities/_mixins.scss */
.btn--error {
  background-color: #e67478;
}
/* line 83, ../scss/utilities/_mixins.scss */
.btn--warning {
  background-color: #ff784f;
}
/* line 83, ../scss/utilities/_mixins.scss */
.btn--info {
  background-color: #9279c3;
}
/* line 13, ../scss/utilities/_mixins.scss */
.btn.-large {
  padding: 23px 40px;
  border-radius: 0.4em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.btn.-medium {
  padding: 13px 30px;
  border-radius: 0.4em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.btn.-small {
  padding: 5px 13px;
  border-radius: 0.4em;
}
/* line 13, ../scss/utilities/_mixins.scss */
.btn.-white-trans {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
  display: inline-block;
}
/* line 34, ../scss/modules/_buttons.scss */
.btn.-white-trans:hover {
  color: #656a6e;
  background: rgba(255, 255, 255, 0.86);
}
/* line 13, ../scss/utilities/_mixins.scss */
.btn.-cta {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #656a6e;
  background-color: #F9D76D;
  transition: all 0.3s;
  display: inline-block;
  border-bottom: 3px solid #f5bc0b;
}
/* line 50, ../scss/modules/_buttons.scss */
.btn.-cta:hover {
  background-color: #f7ca3c;
}

/* line 56, ../scss/modules/_buttons.scss */
[class^="btn--"] {
  margin-bottom: 1.42857em;
}
@media (min-width: 1px) and (max-width: 768px) {
  /* line 56, ../scss/modules/_buttons.scss */
  [class^="btn--"] {
    width: 100%;
  }
}
@media (min-width: 769px) {
  /* line 56, ../scss/modules/_buttons.scss */
  [class^="btn--"] {
    width: auto;
    display: inline-block;
  }
}

/* line 5, ../scss/modules/_navbar.scss */
.navbar {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 5, ../scss/modules/_nav.scss */
.nav {
  padding: 0.875em 1.5625em 0.625em;
}
/* line 8, ../scss/utilities/_mixins.scss */
.nav__item {
  margin: 0 0.625em;
}
/* line 18, ../scss/modules/_nav.scss */
.nav__item a {
  font-size: 0.875em;
  padding: 0 1px;
  display: block;
  color: #e6e6e6;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
/* line 35, ../scss/modules/_nav.scss */
.nav__item.-active a {
  border-color: #F9D76D;
}
/* line 13, ../scss/utilities/_mixins.scss */
.nav__item.-cta {
  margin: -2px 2px 0 0px;
}
/* line 43, ../scss/modules/_nav.scss */
.nav__item.-cta a {
  padding: 1px 6px;
  border: none;
  background-color: #F9D76D;
  color: #656a6e;
}
/* line 49, ../scss/modules/_nav.scss */
.nav__item.-cta a:hover {
  background-color: #f7ca3c;
}
/* line 56, ../scss/modules/_nav.scss */
.nav__item.-cta.-cta-first a {
  padding-right: 8px;
  border-radius: 3px 0 0 3px;
}
/* line 62, ../scss/modules/_nav.scss */
.nav__item.-cta.-cta-last a {
  padding-left: 8px;
  border-radius: 0 3px 3px 0;
}
/* line 13, ../scss/utilities/_mixins.scss */
.nav__item.-first {
  margin-left: 0;
}
/* line 13, ../scss/utilities/_mixins.scss */
.nav__item.-last {
  margin-right: 0;
}

/* line 7, ../scss/modules/_icons.scss */
.site-logo {
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  width: 115px;
  height: 45px;
  display: inline-block;
}

/* line 13, ../scss/utilities/_mixins.scss */
.icn.-nav-toggle {
  width: 25px;
  height: 17px;
  border-top: solid 3px #797e83;
  border-bottom: solid 3px #797e83;
  position: relative;
}
/* line 97, ../scss/utilities/_mixins.scss */
.icn.-nav-toggle:before {
  width: 25px;
  height: 3px;
  background: #999da1;
  top: 4px;
}

/* line 32, ../scss/modules/_icons.scss */
.icons {
  margin: 7px 0;
}

/* line 35, ../scss/modules/_icons.scss */
.icn-separator:before {
  content: "/";
  font-size: 33px;
  font-weight: 100;
  font-style: italic;
  line-height: 0;
  letter-spacing: 6px;
  color: #D18E00;
}

/* line 45, ../scss/modules/_icons.scss */
[class^="flaticon-"]:before,
[class^="flacticon-"]:after,
[class*=" flaticon-"]:before,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 24px;
  color: #D18E00;
  letter-spacing: 2px;
  line-height: 0;
  margin: 0;
  font-weight: 400;
}

/* line 5, ../scss/modules/_cover-img.scss */
.cover-img {
  background-image: url("../img/abstract2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
}

/* line 5, ../scss/modules/_lines.scss */
.divider-arrow-top {
  position: relative;
  background-color: #fff;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.6875em;
  line-height: 0;
  border-bottom-color: #d6d7d9;
  border-bottom-style: solid;
  margin-top: 20px;
}
/* line 97, ../scss/utilities/_mixins.scss */
.divider-arrow-top:after {
  width: 12px;
  height: 12px;
  border-right: 2px solid #d6d7d9;
  border-bottom: 2px solid #d6d7d9;
  position: absolute;
  left: 50%;
  margin-left: 0;
  top: 0;
  margin-top: 1.125em;
  -moz-transform: translateX(-50%) translateY(-100%) rotate(-135deg);
  -ms-transform: translateX(-50%) translateY(-100%) rotate(-135deg);
  -webkit-transform: translateX(-50%) translateY(-100%) rotate(-135deg);
  transform: translateX(-50%) translateY(-100%) rotate(-135deg);
  background-color: inherit;
}

@media (min-width: 1px) and (max-width: 768px) {
  /* line 5, ../scss/states/_grid-display.scss */
  .is-displayed-mobile {
    display: block;
  }
  /* line 9, ../scss/states/_grid-display.scss */
  .is-hidden-mobile {
    display: none;
  }
}
@media (min-width: 769px) {
  /* line 5, ../scss/states/_grid-display.scss */
  .is-displayed-mobile {
    display: none;
  }
}

@media (min-width: 1px) and (max-width: 768px) {
  /* line 5, ../scss/states/_collapsed.scss */
  .is-collapsed-mobile {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0;
  }
}
